sudo: required
services:
  - docker

before_install:
  - docker build -t michaelcalfee/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true michaelcalfee/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: 'us-east-2'
  app: 'Docker React'
  env: 'DockerReact-env'
  bucket_name: 'elasticbeanstalk-us-east-2-351137733471'
  bucket_path: 'Docker React'
  on:
    branch: master
    access_key_id: '$AWS_ACCESS_KEY'
    secret_access_key:
      secure: '$AWS_SECRET_KEY'
